.btn {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: .7rem;
  transition: all 0.6s;

  &-white {
    background-color: $white;
  }
  &-blue {
    background-color: $soft-blue;
    box-shadow: $box-shadow;
  }

  &:hover {
    box-shadow: $box-shadow-hover;
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: $box-shadow-active;
    transform: translateY(1px);
  }

  &__addexpenses {
    width: 15.9rem;
    border: .3rem solid;
    margin-left: 1rem;

    @include respond(small-phone) {
      &{
        margin-left: 0;
        width: 2.5rem;
        height: 3rem;
        overflow: hidden;
        padding: .3rem .4rem;
        margin: 0rem .4rem;
      }
    }
  }
  &__fixed{
    position: fixed;
    bottom: 6rem;
    right: 2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $soft-blue;
    color: $white;
    box-shadow: $box-shadow ;
    z-index: 2000;

    &:hover{
      color: $white;
    }
  }
}
