.card--container {
  display: flex;
  align-items: flex-start;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  background-color: #0a0a0ad6;
  box-shadow: 0px 6px 8px #4e4e4e;
  @include respond(small-phone) {
    width: 23rem;
  }
  &__chart {
    width: 23rem;
    height: 0rem;
    box-shadow: inset 3px 4px 12px 0px black;
    padding: 0rem;
    &--container {
      display: flex;
      position: relative;
      margin: auto;
      height: 100%;
      // width: 99%;
    }
  }
  &__btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px 10px 0px;
    padding: 0.3rem;
    width: 100%;
    height: 3.5rem;
    z-index: 1000;
    & > * {
      background-color: #313131;
    }

    &--display {
      transform: rotateZ(0deg);
      padding: 0.2rem;
    }
    &--legends {
      display: none;
    }
    &--icon {
      width: 2.3rem;
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem;
    @include respond(small-phone) {
      margin: 0rem;
    }
  }

  .month-summary {
    font-size: 2.1rem;
    color: #f9eec1;
    @include respond(small-phone) {
      font-size: 1.7rem;
    }
  }
  .fa-money {
    color: $green-money;
    justify-self: center;
  }
}

.legend {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  background-color: #202b34;
  color: #e4e4e4;
  border: 0.2rem solid #1f1e1e;
  &__container {
    display: none;

    &--box {
      width: 2rem;
      height: 2rem;
    }
    &--name {
      height: 50%;
      font-size: 1.8rem;
      margin-left: 4px;
      color: #f9eec1;
      @include respond(small-phone) {
        font-size: 1.4rem;
      }
    }
  }
}
