.form {
    display: grid;
    grid-template-columns: min-content;
    background-color: $white;
    justify-content: center;

    @include respond(small-phone) {
        grid-template-columns: 1fr;        
    }

    &__signin {
        background-color: $off-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        padding: 1.3rem;
        box-shadow: $box-shadow-signin-form ;
        height: 80%;
        margin: auto 0;
        @include respond(small-phone){
            border: 3px solid $black ;
        }

        &--header{
            font-size: 3.5rem;
            letter-spacing: 4px;
            margin-bottom: 50px;
            color: $gray;

        }

        &--btn {
            width: 70px;
            height: 34px;
            color: $red ;
            box-shadow: $box-shadow ; 
            margin-top: 12px;

        }
            }
    
    &__input {
        width: 32rem;
        height: 4rem;
        margin-bottom: 1rem;
        border-radius: 12px;
        border: none;
        box-shadow: inset 0px 2px 5px 0px black;;
        padding: 20px;
        font-size: 1.4rem;
        color: $gray-darker;
        @include respond(small-phone) {
            width: 100%;        
        }
            &:focus{
                outline: none;
            }
          }
    
}
