<?php

/**
 * System Configuration Variables.
 */
return [
    'DB_HOST' => 'localhost',
    'DB_NAME' => 'database_name',
    'DB_USER' => 'database_username',
    'DB_PASS' => 'database_password',
];