.expenses {
  display: grid;
  grid-template-rows: repeat(4, min-content) 4rem;

  &__add {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
