$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

#login{

    &,html {
        background-color:$color-bg;
      }
    &, p, input, select, textarea, button {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: -0.2px;
        font-size: $ruler;
    }
    div, p {
      color: $color-shadow;
    }



}label {
  display: block;
  margin-bottom: $ruler*1.5;
  width: 100%;
}

input {
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: $ruler*20;
    padding: $ruler;
    background-color:$color-bg;
    text-shadow: 1px 1px 0 $color-white;  
    margin-right: $ruler/2;
    box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

  &:focus {
    box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
  
}

button {
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: $ruler*20;
    padding: $ruler;
    background-color:$color-bg;
    text-shadow: 1px 1px 0 $color-white;  
    color:#61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
  
  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }
  
  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
  
  .icon {
    margin-right: $ruler/2;
  }
  
  &.unit {
    border-radius: $ruler/2;
    line-height: 0;
    width: $ruler*3;
    height: $ruler*3;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin: 0 $ruler/2;
    font-size: $ruler*1.2;
    
    .icon {
      margin-right: 0; 
    }
  }
  
  &.red {
    display: block;
    width: 100%;
    color:$color-red;
  }
}

@media screen and (max-width: 360px){
  .sign-in-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    padding: 8px;
    width: 100%;
    height: 390px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: -6px 9px 13px #c3c3c5, -6px -4px 16px 0px #b9b9b9;
    transition:  all 1s;
}
// .small-social{
//   position: absolute;
//   width: 207px;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, 272%);
//   opacity: 1;
// }


}

@media screen and (min-width:361px) and (max-width: 760px){
  .sign-in-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    width: 320px;
    height: 390px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: -6px 9px 13px #c3c3c5, -6px -4px 16px 0px #b9b9b9;
    transition:  all 1s;
}
//   .small-social{
//     position: absolute;
//     top: 50%;
//     left: 33%;
//     transform: translate(-25%, 272%);
//     opacity: 1;
//   }

}
@media screen and (min-width: 760px){
  .sign-in-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    width: 320px;
    height: 390px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: -6px 9px 13px #c3c3c5, -6px -4px 16px 0px #b9b9b9;
    transition:  all 1s;

  }
//   .small-social{
//     opacity: 0;
//   }  
}

.segment {
  padding: $ruler*2 0;
  text-align: center;
}


