$white : white ; 
$black : black ; 
$gray : #828282 ; 
$gray-darker : #515151 ; 
$red : #f94343 ; 
$of-white : #f5f5f5;

//expenses 
$black-table-row : #2b2b2b ;
$green-money : #2aa504 ;
$gray-table-border : #4c4c4c ; 
$orange-arrow-box : #c56111 ; 
$sticky-note : #fdf040; 
$sticky-note-font : #171717 ; 

//btn
$orange-edit-btn : #ffc107 ; 
$red-delete-btn : #dc3545 ; 

$box-shadow-signin-form : 3px 4px 11px 0px #868686 ;

$box-shadow : 0px 2px 5px 0px #292929; 
$box-shadow-hover :0px 4px 7px 0px #292929;
$box-shadow-active : 0px 4px 3px 0px #292929 ; 