// COMMENT AE is for add and edit , same style is for add and edit expense pages

.expense__form-size {
  width: 50%;
  @include respond(phone) {
    width: 100%;
  }
}

.expense__form {
  &--content {
    font-size: 1.3rem;
    margin: 1rem 0rem;

    &-header {
      font-weight: bold;
      letter-spacing: 0.3rem;
      transition: all 0.5s;
    }

    &-input {
      padding: 0.4rem 0.7rem;
      box-shadow: $box-shadow;
      border-radius: 0.4rem;
      border: none;
      font-size: 1.3rem;
      font-weight: bold;
      color: $gray-darker;
      width: 100%;
      transition: all 0.4s;
      outline: none;
      transform: translateY(0px);
    }

    &-input:focus {
      box-shadow: $box-shadow-hover;
      transform: translateY(-3px);
    }
  }
  &--btn-submit {
    display: flex;
    justify-content: center;
  }
}

.money {
  color: $green-money;
}

.sticky-note {
  background-color: $sticky-note;
}
