.btn {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 7px;
  transition: all 0.6s;

  &-white {
    background-color: $white;
  }
  &-blue {
    background-color: $soft-blue;
    box-shadow: 0px 2px 7px #5a5a5a;
  }

  &:hover {
    box-shadow: $box-shadow-hover;
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: $box-shadow-active;
    transform: translateY(1px);
  }

  &--add {
    width: 159px;
    border: 3px solid;
    margin-left: 1rem;
    @include respond(small-phone) {
      margin-left: 0;
    }
  }
}
