.expenses {
    display: grid;
    grid-template-rows: 5rem repeat(3, min-content) 4rem;
        &__add {
        display: flex;
        align-items: center;
        padding: 0 3rem;

        @include respond(small-phone){
            flex-direction: column;
            align-items: start;
        }
    }

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}