.expenses {
    display: grid;
    grid-template-rows: 5rem 2rem 7rem 64vh 3.8rem 5rem;

    &__add {
        display: flex;
        align-items: center;
        padding: 0 3rem;

        @include respond(small-phone){
            flex-direction: column;
            align-items: start;
        }
    }

    &__table {
        &--date {
            display: flex;
            justify-content: space-between;

        &--row {

            // &-1 {
            // }

            &-2 {
                background-color: red;
                transform: translateY(-31px);
                z-index: -1;
                top: 0;
                left:0; 
            }
        }

        }


    }
}
