/* Cairo Google font */
/*@import url('https://fonts.googleapis.com/css?family=Cairo|Poiret+One');*/
/* Fontawesome */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "./sass-components/login.scss";
@import "./sass-components/home.scss";


* {
    font-family: 'monospace', sans-serif;
}

body {
    background-color: #ebecf0 ;
    width: 100%;
    padding: 0;
    margin: 0;

}
.navbar{
    background-color:$color-bg;
    z-index: 1000;
}

#app {
    min-height: 92vh;
}

.container {
    padding: 0 3em;
}

.panel-heading {
    margin: 10px 0;
}

.panel-heading .title {
    display: inline;
}

.content-header {
    position: relative;
}

.btn-warning {
    color: #fff;
}

.month-summary {
    font-size: 4rem;
    width: 100%;
    text-align: center;
}

.btn-action {
    margin: 0 3px;
}

.head-btn {
    position: absolute;
    right: 0;
}

footer {
    min-height: 8vh;
    background-color:$color-black;
    color: #fff;
    text-align: center;
}